@model List<MY_Academy1.Models.Tbl_Messages>
@{
    ViewBag.Title = "MesajıOku";
    Layout = "~/Views/AdminLayout/Layout.cshtml";
    int count = 0;
}

<h2>MesajıOku</h2>

<table class="table table-bordered">
    <thead>
        <tr>
            <th>#</th>
            <th>Ad Soyad </th>
            <th>Email</th>
            <th>Konu</th>
            <th>Tarih</th>
            <th>Sil</th>
            <th>Mesajı Aç</th>
        </tr>

    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            count++;

            <tr>
                <td>@count</td>
                <td>@item.Name</td>
                <td>@item.Email</td>
                <td>@item.Subject</td>
                <td>@item.DataSent</td>
                <td> <a href="/Message/DeleteMessage/@item.MessageId" class="btn btn-outline-danger">Delete</a></td>
                <td><a href="/Message/Detaylar/@item.MessageId" type="button" class="btn btn-outline-info"> Details</a></td>

            </tr>

        }
    </tbody>



</table>
<br />
<a href="/Message/Index" type="button" class="btn btn-outline-success"> Go Back</a>