@model MY_Academy1.Models.Tbl_Testimonials
@{
    ViewBag.Title = "UpdateTestimonials";
    Layout = "~/Views/AdminLayout/Layout.cshtml";
}



<form method="post">
    @Html.HiddenFor(x=> x.TestimonalId)
    <label>Ad-Soyad</label>
    @Html.TextBoxFor(x => x.NameSurname, new { @class = "form-control" })
    <br />
    <label>Pozisyon</label>
    @Html.TextBoxFor(x => x.Title, new { @class = "form-control" })
    <br />
    <label>Görsel</label>
    @Html.TextBoxFor(x => x.ImageUrl, new { @class = "form-control" })
    <br />
    <label>Mesaj</label>
    @Html.TextBoxFor(x => x.Comment, new { @class = "form-control" })
    <br />
    <button class="btn btn-outline-success">Kaydet</button>
</form>